{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":5,"column":14},"end":{"row":6,"column":0},"action":"insert","lines":["",""],"id":2},{"start":{"row":6,"column":0},"end":{"row":7,"column":0},"action":"insert","lines":["",""]}],[{"start":{"row":7,"column":0},"end":{"row":7,"column":1},"action":"insert","lines":["I"],"id":3},{"start":{"row":7,"column":1},"end":{"row":7,"column":2},"action":"insert","lines":["D"]}],[{"start":{"row":7,"column":1},"end":{"row":7,"column":2},"action":"remove","lines":["D"],"id":4},{"start":{"row":7,"column":0},"end":{"row":7,"column":1},"action":"remove","lines":["I"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":0},"end":{"row":7,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1670564814220,"hash":"f1d243bc51a20f0306f85a4a809029250a8cca97"}