# anew

# environment files
.env

# nodejs files 
.idea
node/**/node_modules
node/**/package-lock.json
node/config/pool.js
node/config/db_config.json
node/**/uploadedFiles

# mongodb backup / json
mongodb/**/*.json
mongodb/backup


# react App
react/**/node_modules
