<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> DateTime Example </title>
</head>
<body>
<h1> DateTime Example </h1>
<form name='dataform' >
      <input type='button' value='Current Date Button'  onclick='document.targetURL.location.href="/date/en"' >
      <p>
      <input type='button' value='현재 날짜 버튼'  onclick='document.targetURL.location.href="/date/ko"' >
      <p> 
</form>
<iframe name=targetURL class="iframe-preview center" width="50%" height="300" style="border:none;" src="http://43.201.94.25:3000/getdate"></iframe>
</body>
</html>