
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SMS API Examle</title>
</head>    
<body>
------------------------------------------------------------------<br>
	<h1>SMS API Example</h1>
------------------------------------------------------------------<br>
	<form method='post' action='/send_sms' name='userForm' target='targetURL'>
	Name<input type='text' size='15' name='name'>
	Phone number<input type='text' size='15' name='phone_number'><p>
	Message <input type='text' size='20' name='msg'><p>
	<button type="submit" name='btn'> SendSMS</button>
	</form>
------------------------------------------------------------------<br>
<iframe name=tagetURL class="iframe-previewcenter" width="90%" height="1500" style="border:none;" src="http://43.201.125.57:3000/Hello">
</iframe>
</body>
</html>
