<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Weather Status </title>
</head>
<body>
<h1> Weather Status </h1>
<form name='dataform' >
      <input type='button' value='Weather - API get data'  onclick='document.targetURL.location.href="/getdata"' >
      <p>
      <input type='button' value='Weather - Mongodb collection data'  onclick='document.targetURL.location.href="/list"' >
      <p>            
</form>
<iframe name=targetURL class="iframe-preview center" width="50%" height="1100" style="border:none;" src="http://43.201.94.25:3000/list"></iframe>
</body>
</html>