<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dynamic Mongo Test </title>
</head>
<body>
<h1> Dynamic Mongo Test </h1>
<form method='post' action="/post_list" name='mongoform' >
      <input type='button' value='mydb Users list'  onclick='document.targetURL.location.href="/list"' >
      <p>
      userid <input type='text' size='10' name='input'>
      <input type='button' value='get' onclick='document.targetURL.location.href="/get_userid?input="+document.mongoform.input.value'>
      <p>
      city <input type='text' size='10' name='city'>
      <input type='button' value='get' onclick='document.targetURL.location.href="/get_city?input="+document.mongoform.city.value'>
      <p>
</form>
<iframe name=targetURL class="iframe-preview center" width="75%" height="500" style="border:none;" src="http://43.201.94.25:3000/list"></iframe>
</body>
</html>