<h1><i>Express</i> and <i>Multer</i> File Upload Example</h1>
<hr>

<h3>1. Single File upload</h3>
<form action="./uploadFile" enctype="multipart/form-data" method="post">
  <input type="file" name="attachment">
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

<h3>2. Single File upload (Keep original Filename)</h3>
<form action="./uploadFileWithOriginalFilename" enctype="multipart/form-data" method="post">
  <input type="file" name="attachment">
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

<h3>3. Multi File upload</h3>
<form action="./uploadFiles" enctype="multipart/form-data" method="post">
  <input type="file" name="attachments">
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

<h3>4. Multi File upload (Keep original Filename)</h3>
<form action="./uploadFilesWithOriginalFilename" enctype="multipart/form-data" method="post">
  <input type="file" name="attachments">
  <button type="submit" class="btn btn-primary">Upload</button>
</form>