<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Weather Status </title>
</head>
<body>
<h1> Weather Status </h1>
<form name='dataform' >
      <input type='button' value='Weather - API get data'  onclick='document.targetURL.location.href="/getdata"' >
      <p>
      <input type='button' value='Weather - Mongodb collection data'  onclick='document.targetURL.location.href="/list"' >
      <p>            
      datetime <input type='text' size='10' name='input'>
      <input type='button' value='get' onclick='location.href="/get?input="+document.dataform.input.value'>
       <p>            
</form>
<<iframe name=targetURL class="iframe-preview center" width="80%" height="800" style="border:none;" src="http://43.201.125.57:3000/list"></iframe>
</body>
</html>